.container {
  width: 100%;

  h2 {
    font-size: clamp(1.5rem, 5vw, 4.5rem);
  }
}

.text {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-text);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  transition: color var(--palette-transition);
}

.uppercase {
  text-transform: uppercase;
}

.word {
  display: inline-block;
  will-change: opacity, transform;
}