.logo {
    width: 200px;
    height: auto;
}

.path {
    stroke-dasharray: 1200;
    /* Adjust based on the length of your path */
    stroke-dashoffset: -1200;
    /* Start from the other end */
    animation: drawReverse 1s cubic-bezier(0, .1, .14, .92) forwards, strokeFill 0.5s ease-in 1s forwards;
    /* Custom animation for reverse direction */
}

.fill {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1.5s forwards;
}

@keyframes drawReverse {
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes strokeFill {
    to {
        stroke-width: 30;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}